*{
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(17, 17, 17);
}

#recados {
    width: 950px;
    height: 600px;
    margin: 50px auto;
    border-radius: 10px;
}

#group-cards {
    margin: auto; 
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card {
    position: relative;
    background-color: rgba(0, 0, 0, 0.685);
    padding: 10px ;
    border-radius: 10px;
    height: 150px;
    width: 350px;
    transition: 1s;
}

.card:hover {
    transform: scale(1.05);
}

.card h2, p {
    color: white;
}

.card h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.card p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.button-play {
    position: absolute;
    padding: 10px;
    border-radius: 300px;
    right: 10px;
}


.link {
    width: 20px;
}

#menu-serie {
    margin: 40px;
    border-bottom: 2px solid white;
}

#menu-serie ul{
    list-style: none;
    display: flex;
    padding: 0;
}

#menu-serie li {
    transition: 1s;
}

#menu-serie li:hover {
    transform: scale(1.1);
}

#menu-serie a {
    text-decoration: none;
    padding: 10px;
    margin: 0px 5px;
    background-color: rgba(0, 0, 0, 0.555);
    transition: 1s;
}

#menu-serie a:hover {
    background-color:rgba(0, 0, 0, 0.856);
}